backend_top_trumps/*.rbc
backend_top_trumps/capybara-*.html
backend_top_trumps/.rspec
backend_top_trumps/log
backend_top_trumps/tmp
backend_top_trumps/db/*.sqlite3
backend_top_trumps/db/*.sqlite3-journal
backend_top_trumps/public/system
backend_top_trumps/coverage/
backend_top_trumps/spec/tmp
backend_top_trumps/*.orig
rerun.txt
pickle-email-*.html

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# backend_top_trumpsconfig/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
backend_top_trumps/.env

## Environment normalization:
backend_top_trumps/.bundle
backend_top_trumps/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
backend_top_trumps/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
backend_top_trumps/.powenv

# Ignore Byebug command history file.
backend_top_trumps/.byebug_history

# Ignore node_modules
backend_top_trumps/node_modules/
frontend_top_trumps/node_modules

