/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* body {
    background-image: url(https://ei.marketwatch.com/Multimedia/2016/11/11/Photos/ZH/MW-FA026_trump__20161111070915_ZH.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 1024px;
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;

  } */
  * {
    font-family: sans-serif;
  }


  .container {
    max-width: 400px;
    margin: 1em auto;
  }
  .beta {
    font-size: .5em;
    color: rebeccapurple;
  }
  ul {
    margin: 0 auto;
    padding: 0;
  }
  
  input, button {
    font-size: 0.7em;
    padding: 0.7em;
    width: 20%;
    height: 60%
  }
  .cardOne {
    display: block;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 1em 0;
    padding: 1em;
    transition: opacity .5s;
    position: relative;
    text-align: center;
  }
  
  .cardOne img {
    max-width: 100%;
  }
  
  .done {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  .add-toy-form {
    width: 80%
  }

  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: sans-serif;
    margin: 3px;
  }

  .submit {
    position: relative;
    background-color: #040f31;
    border-radius: 5px;
    height: 2.5rem;
    width: max-content;
    color: whitesmoke;
    font-size: 16px;
    justify-self: center;
    font-family: sans-serif;
    margin: 3px;
  }
  
  .submit:hover {
    background-color: whitesmoke;
    border: #331c70 solid 1px;
    color: #331c70;
  }




/* .rectangle{
position: absolute;
width: 232.91px;
height: 148.62px;
left: 500px;
top: 50px;
margin: 0;

background: #F0413B;
transform: rotate(-18.47deg);
} */

/* h4 {
  position: absolute;
  width: 196.14px;
  height: 108.28px;
  left: 20px;
  top: -150px;
  
  font-family: Abadi MT Condensed Extra Bold;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 120px;
  
  color: #D7AB41;
  
  transform: rotate(2);
}

p {
position: absolute;
width: 153.72px;
height: 150.54px;
left: 700.17px;
top: 220px;

font-family: Abadi MT Condensed Extra Bold;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 200px;

color: #F0413B;

transform: matrix(0.89, 0.37, -0.5, 0.92, 0, 0);
transform: rotate(80deg)
} */