/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* body {
    background-image: url(https://cdn3.vectorstock.com/i/1000x1000/86/32/lined-or-ruled-paper-background-vector-15888632.jpg)
  } */
  * {
    font-family: sans-serif;
  }


  .container {
    max-width: 400px;
    margin: 1em auto;
  }
  .beta {
    font-size: .5em;
    color: rebeccapurple;
  }
  ul {
    margin: 0 auto;
    padding: 0;
  }
  
  input, button {
    font-size: 0.7em;
    padding: 0.7em;
    width: 20%;
    height: 60%
  }
  .cardOne {
    display: block;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 1em 0;
    padding: 1em;
    transition: opacity .5s;
    position: relative;
    text-align: center;
  }
  
  .cardOne img {
    max-width: 100%;
  }
  
  .done {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  .add-toy-form {
    width: 80%
  }

  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: sans-serif;
    margin: 3px;
  }

  .submit {
    position: relative;
    background-color: #040f31;
    border-radius: 5px;
    height: 2.5rem;
    width: max-content;
    color: whitesmoke;
    font-size: 16px;
    justify-self: center;
    font-family: sans-serif;
    margin: 3px;
  }
  
  .submit:hover {
    background-color: whitesmoke;
    border: #331c70 solid 1px;
    color: #331c70;
  }
  