/* apply a natural box layout model to all elements, but allowing components to change */
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font-family: sans-serif;
}

html,
body {
  margin: 0;
}

body {
  background-image: url(./MW-FA026_trump__20161111070915_ZH.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

.header-container {
  max-width: 550px;
  margin: 0auto;
}

.beta {
  font-size: 0.5em;
  color: rebeccapurple;
}

ul {
  margin: 0 auto;
  padding: 0;
}

input,
button {
  position: relative;
  background-color: #d7ab41;
  border-radius: 5px;
  height: 1.2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 16px;
  justify-self: center;
  font-family: sans-serif;
  margin: 3px;
}

button:hover {
  background-color: #f0413b;
  border: #d7ab41 solid 1px;
  color: #d7ab41;
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
}

.add-toy-form {
  width: 80%;
}

.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: sans-serif;
  margin: 3px;
}

.submit {
  position: relative;
  background-color: #d7ab41;
  border-radius: 5px;
  height: 2.5rem;
  width: max-content;
  color: whitesmoke;
  font-size: 16px;
  justify-self: center;
  font-family: sans-serif;
  margin: 3px;
}

.submit:hover {
  background-color: #f0413b;
  border: #d7ab41 solid 1px;
  color: #d7ab41;
}

.rectangle {
  /* position: absolute;
  width: 232.91px;
  height: 148.62px;
  left: 500px;
  top: 50px;
  margin: 0; */

  background: #f0413b;
  transform: rotate(-18.47deg);
}

.top {
  /* position: absolute;
  width: 196.14px;
  height: 108.28px;
  left: 20px;
  top: -150px; */

  font-family: Abadi MT Condensed Extra Bold;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 120px;

  color: #d7ab41;

  transform: rotate(2);
}

.s {
  /* position: absolute;
  width: 153.72px;
  height: 150.54px;
  left: 700.17px;
  top: 220px; */

  font-family: Abadi MT Condensed Extra Bold;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 200px;

  color: #f0413b;

  transform: matrix(0.89, 0.37, -0.5, 0.92, 0, 0);
  transform: rotate(80deg);
}

.wait {
  /* position: absolute;
  width: 800px;
  height: 350px;
  left: 600px;
  top: 500px; */

  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    rgba(240, 65, 59, 0.75);
  border-radius: 30px;
  text-align: center;

  font-family: Abadi MT Condensed Extra Bold;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 80px;

  color: rgb(233, 167, 14);
}

.cardOne {
  /* position: relative;
  width: 300px;
  height: 500px;
  left: 0px;
  top: 400px; */

  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    rgba(240, 65, 59, 0.75);
  border: 4px solid #f0413b;
  border-radius: 10px;
  text-align: center;
  color: rgb(68, 63, 63);
  text-decoration-style: unset;
}

.cardOne img {
  position: relative;
  max-width: 100%;
  max-height: 40%;
}

.cardTwo {
  /* position: absolute;
  width: 300px;
  height: 500px;
  left: 1100px;
  top: 415px; */

  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    rgba(240, 65, 59, 0.75);
  border: 4px solid #f0413b;
  border-radius: 10px;
  text-align: center;
  font-size: 80px;
  color: rgb(233, 167, 14);
}

/* .cardTwo img {
    position: relative;
    max-width: 100%;
    max-height: 40%; 
  } */

.add-player {
  /* position: relative;
  width: 500px;
  height: 180px;
  left: 750px;
  top: 500px; */

  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    rgba(240, 65, 59, 0.75);
  border: 4px solid #d7ab41;
  border-radius: 10px;
  text-align: center;
  color: #f0413b;
}

.winnerCard {
  position: relative;
  width: 300px;
  height: 500px;
  left: 350px;
  top: 400px;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    rgba(240, 65, 59, 0.75);
  border: 4px solid #f0413b;
  border-radius: 10px;
  text-align: center;
  color: rgb(68, 63, 63);
  text-decoration-style: unset;
}

.winnerCard img {
  position: relative;
  max-width: 100%;
  max-height: 40%;
}
